################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MyApp/obj/Release/netcoreapp3.1
/.vs
